@model GridBeyondProject.Models.Statistics

@{
    ViewBag.Title = "Statistics";
}

<h2>Statistics</h2>

<table class="table">
    <tbody>
        <tr>
            <th scope="row">Minimum</th>
            <td>@Html.DisplayFor(modelItem => modelItem.MostCheapTime.Time)</td>
            <td>@Html.DisplayFor(modelItem => modelItem.MostCheapTime.Price)</td>
        </tr>
        <tr>
            <th scope="row">Maximum</th>
            <td>@Html.DisplayFor(modelItem => modelItem.MostExpensiveTime.Time)</td>
            <td>@Html.DisplayFor(modelItem => modelItem.MostExpensiveTime.Price)</td>
        </tr>
        <tr>
            <th scope="row">Average</th>
            <td colspan="2">@Html.DisplayFor(modelItem => modelItem.AverageCost)</td>
        </tr>
    </tbody>
</table>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="row" colspan="2">Most expensive Window</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Html.DisplayFor(modelItem => modelItem.MostExpensiveHourWindow.StartWindow.Time)</td>
            <td>@Html.DisplayFor(modelItem => modelItem.MostExpensiveHourWindow.StartWindow.Price)</td>
        </tr>
        <tr>
            <td>@Html.DisplayFor(modelItem => modelItem.MostExpensiveHourWindow.EndWindow.Time)</td>
            <td>@Html.DisplayFor(modelItem => modelItem.MostExpensiveHourWindow.EndWindow.Price)</td>
        </tr>
        <tr>
            <td>Total Cost</td>
            <td>@Html.DisplayFor(modelItem => modelItem.MostExpensiveHourWindow.Cost)</td>
        </tr>
    </tbody>
</table>

<div><canvas id="TimeCostChart"></canvas></div>

<script>
        var labels = new Array();
        var series = new Array();

        @foreach (var data in Model.MarketPriceData)
        {
            @:labels.push("@data.Time");
            @:series.push("@data.Price");
        }

        var ctx = document.getElementById("TimeCostChart").getContext("2d");
        var chart = new Chart(ctx, {
            type: 'line',
            data:
            {
                labels: labels,
                datasets:
                    [{
                        label: '',
                        backgroundColor: 'rgb(255, 99, 132)',
                        borderColor: 'rgb(121, 0, 31)',
                        data: series
                    }]
            },
            options: {
                legend: {
                    display: false
                },
                scales: {
            xAxes: [{
                ticks: {
                    fontColor: "#FFF"
                }
            }]
        }
            }
         });
</script>