@model GridBeyondProject.Models.Statistics

@{
    ViewBag.Title = "Statistics";
}

<h2>Statistics</h2>

<table class="table">
    <tbody>
        <tr>
            <th scope="row">Minimum</th>
            <td>@Html.DisplayFor(modelItem => modelItem.MostCheapTime.Time)</td>
            <td>@Html.DisplayFor(modelItem => modelItem.MostCheapTime.Price)</td>
        </tr>
        <tr>
            <th scope="row">Maximum</th>
            <td>@Html.DisplayFor(modelItem => modelItem.MostExpensiveTime.Time)</td>
            <td>@Html.DisplayFor(modelItem => modelItem.MostExpensiveTime.Price)</td>
        </tr>
        <tr>
            <th scope="row">Average</th>
            <td colspan="2">@Html.DisplayFor(modelItem => modelItem.AverageCost)</td>
        </tr>
    </tbody>
</table>

@foreach (var marketPrice in Model.MarketPriceData)
{
    <table class="table">
        <tr>
            <td>@marketPrice.Time</td>
            <td>@marketPrice.Price</td>
        </tr>
    </table>
}